# Programação Orientada a Objetos, turma de 2016

## Primeira prática

*(Vale 2 pontos)*

---

### Instruções

Abaixo você vai encontrar várias "células" de código. *Células* é a denominação para cada um dos elementos inseridos no *notebook* do IPython, como os títulos acima e este texto (do tipo *markdown*) ou, principalmente, do tipo *code*, onde você pode escrever código Python para ser executado.

Você edita as células clicando nelas. O formato [markdown](http://daringfireball.net/projects/markdown/) é um formato para auxiliar a escrever textos ricos, com ênfases, *links* para páginas Internet, etc.

Nas células de código, você pode colocar quanto código Python desejar, incluindo múltiplas linhas. Para executar o código de uma célula (ou para efetivamente formatar a célula markdown), você deve teclar Shift-Enter.

No IPython notebook, o botão '+' acima (o segundo, logo após o disquete) permite criar uma nova célula, abaixo da célula corrente (destacada visualmente). Para apagar a célula corrente, use o botão da tesoura. Por outro lado, o primeiro menu *pushdown* após os botões permite escolher o tipo de célula.

Abaixo você vai encontrar diversas células de código. Para cada uma delas, você deve executá-la, observar a saída produzida e então criar abaixo dela uma nova célula de texto onde você vai escrever uma explicação para a saída produzida. Como exemplo, a primeira célula abaixo já tem a saída e a sua explicação.

Você deve entregar, ao final da aula, este mesmo *notebook* com as saídas e suas explicações. Se não conseguir terminar todas, entregue o que conseguir. Você pode criar novas células de código para realizar testes ao tentar explicar os resultados, mas apague todas elas antes da entrega. A entrega deve ser feita pelo site do STOA.

---

In [1]:
-1+3*4

11

Existe uma soma e uma multiplicação a serem realizadas. Como a multiplicação tem precedência, ela é realizada primeiro, resultando em 12. O valor é somado com -1, dando o resultado final.

In [1]:
1 + -3

-2

O menos na frente do número 3 indica que ele é um numero negativo, logo, somando 1 com -3 obtemos -2.

In [2]:
(10 + 13) * 4

92

Na expressão, a primeira operação realizada é a entre parentesis, 10+13= 23, e depois é multiplicado por 4, chegando no resultado 92.

In [3]:
2**3, 3**2

(8, 9)

O operador `**` serve para potenciação, sendo assim, 2 elevado a 3 é igual a 8, e 3 elevado a 2 é igual a nove

**Faltou comentar a vírgula (tupla).** -- *Gonzalo*

In [5]:
5+4*3**2-1

40

O primeiro operador a ser resolvido é o da potenciação, 3 elevado a 2 que resulta em 9, o proximo operador é o da multiplicação, logo, 4 vezes 9 é igual a 36, por fim, os operadores de soma e subtração são resolvidos, resultando em 40.

In [8]:
2**3**2

512

A expressão respresenta uma base e uma potencia elevada a uma potencia, no caso a base 2 está elevada a 3 elevado a dois, no caso 9, sendo assim, 2 elevado a 9 é igual a 512.

In [9]:
2 ** 3 == 8 and 3 - 1 > 1 and not 2/4 != 1/2

True

Primeiro, resolvem-se os operadores aritméticos. Dois elevado a 3 é igual a 8, retornando True; 3 - 1 é igual a 4, que é maior que 1, tambem retornando True; 2/4 não é diferente de 1/2, retornando False. Em seguida resolve-se os operadores binários. A expressão fica True and True and not False, resultando em True.

In [11]:
(2 + 1j)*(2 - 1j)

(5+0j)

As operações são realizadas distributivamente, sendo j o representante de numero complexo e jxj= -1, temos que 2x2 + 2x-1j + 1jx2+ 1jx-1j= 5+0j.

In [12]:
import math
math.sqrt(3) - int(math.sqrt(3))

0.7320508075688772

Após importar a biblioteca math, usa-se a função sqrt que serve para encontrar a raiz quadrada de um numero. Na expressão, é subtrai-se a parte inteira da raiz de 3, no caso 1, da raiz real que deve ser aproximadamente 1,732, resultando na saída encontrada.

In [13]:
7 / 3 - 7 // 3

0.3333333333333335

Na expressão subtrai-se a parte inteira da divisão de 7 por 3 (representada por //) da divisão real de 7 por 3, que deve ser algo como 2,33333, resultando em 2,3333- 2 = 0,333333.

In [14]:
math.e % 1

0.7182818284590451

A expressão mostra o resto da divisão inteira do numero e (euler) por i.

In [15]:
a = 10
b = a
a += 1
a - b

1

a recebe o valor 10, b recee o valor de a, logo b=10, soma-se 1 em a, tendo a=11, e depois faz-se a operação a-b, que é 11-10, resultando em 1.

In [17]:
nome = 'Marcelo Melo'
nome[2], nome[-2]

('r', 'l')

A string nome recebe 'Marcelo Melo', em seguida, pede-se a "casa" 2 da string, que é contada da esquerda para direita (incluindo o zero), no caso 'r'; depois pede-se a "casa" -2 da string, como o indice é negativo, a string será contada da direita para a esquerda (sem contar o zero), no caso 'l'.

In [18]:
nome[12]

IndexError: string index out of range

O programa apresentou um erro pois não há nada no indice 12 da string, sendo assim, não há o que se retornar.

In [19]:
esp = nome.find(' ')
pre, sobre = nome[:esp], nome[esp+1:]
sobre + '/' + pre

'Melo/Marcelo'

'esp' recebe a parte da string que possui o caractere ' ' (espaço) encontrado pela função find da string nome, 'pre' recebe a string nome do inicio até o caratctere em 'esp' e 'sobre' recebe a parte da string que contem o proximo caractere após o 'esp' até seu fim. Em seguida, concatena-se as strings 'sobre' e 'pre' mais o caractere '/' entre elas, printando 'Melo/Marcelo'.

In [20]:
sobre[0] = 'm'

TypeError: 'str' object does not support item assignment

A string 'sobre' é imutavel, nao se pode atribuir outro caractere posteriormente em seus indices.

In [21]:
valores = [1, 3, 5, 7, 9]
valores.append(11)
valores

[1, 3, 5, 7, 9, 11]

Atribui-se a lista 'valores' um conjunto de numeros, e em seguida, utiliza-se a função append para incluir o numero 11 no fim da lista, e depois printa-se a lista já com o 11 incluido.

In [24]:
valores[3] - valores[1]

4

A expressão pega o valor no indice 3 da lista 'valores' no caso o 7 e subtrai o valor no indice 1, no caso o 3, resultando em 4.

**Obs:** Na célula abaixo, a função `type` dá o tipo de um objeto.

In [25]:
lista1 = [1, 'dois', 3.0]
type(lista1[0]), type(lista1[1]), type(lista1[2])

(int, str, float)

A função type retorna o tipo dos elementos em cada indice da lista1, no indice 0 ela retorna 'int' pois se trata do número 1, que é um inteiro; no indice 1 ela retorna 'str' pois a palavra 'dois' é uma string; e no indice 3 ela retorna 'float' pois o número 3.0 é um número real.

In [27]:
lista2 = [lista1, lista1]
lista2

[[1, 'dois', 3.0], [1, 'dois', 3.0]]

Cria-se uma lista chamada lista2 recebendo em seus indices outra lista, no caso, a lista1.

In [28]:
lista1[1] = 2 + 0j
lista1, type(lista1[1])

([1, (2+0j), 3.0], complex)

Atribui-se ao indice 1 da lista 1 uma expressão complexa, na proxima linha pede-se para imprimir a lista1 que será impressa já com o seu novo valor no indice 1, e pede-se pela função type o tipo do elemento encontrado na 'casa' 1 da lista1, no caso, complexo.

In [29]:
lista2

[[1, (2+0j), 3.0], [1, (2+0j), 3.0]]

Printa-se a lista2, que tem dois elementos lista1, com seu indice 1 já alterado anteriormente para uma expressão complexa ao invés da palavra 'dois'.

**Para explicar mais completamente, lembrar que a lista armazena referências.** -- *Gonzalo*

In [30]:
numeros = [1, 4, -3, 0, 10, 5, 1]
for num in numeros:
    if num < 0:
        print('negativo')
    elif num == 0:
        print('inexistente')
    elif num > 5:
        print('gigante')
    else:
        print('normal')

normal
normal
negativo
inexistente
gigante
normal
normal

A lista 'numeros' é preenchida com 7 valores, e em seguida, utiliza-se o comando 'for' para percorrer a lista indice por indice fazendo as comparações do 'if', 'elif' e 'else', fazendo com que se o número for menor que 0, printa-se 'negativo', ou se o número for igual a zero, printa-se 'inexistente', ou se o número for maior que 5, printa-se 'gigante', e se não for nenhum dos casos anteriores, printa-se 'normal'; como vemos na saída.

In [36]:
sum = 0
for x in range(10):
    sum += x
print(sum)

45

Atribui-se o valor zero ao 'sum', em seguida, utiliza-se o comando 'for' e a função range para fazer com que x vá de 0 a 9 (pois o valor indicado na função range, no caso o 10, é o ultimo valor e ele é desconsiderado) a passo 1. O 'sum' vai armazenando a soma dos elementos da sequencia com o passo do for, sendo 1+2+3+4+5+6+7+8+9 = 45.

In [37]:
sum = 0
for x in range(2, 10, 2):
    sum += x
print(sum)

20

Atribui-se o valor zero ao 'sum', em seguida, utiliza-se o comando 'for' e a função range para fazer com que x vá de 2 a 9 (pois desconsidera-se o 10), a passo 2, e como no codigo anterior o 'sum' vai armazenando a soma desses elementos, no caso 2+4+6+8 = 20.

**O 9 não entra na jogada: são os números de 2 a 10 (excluído) ou de 2 a 8 (incluído), de dois em dois.** -- *Gonzalo*

In [38]:
numeros = [3, 5, 11, 6, 7, 8, 34, -12, 0, 14, 25]
i = 0
while i < len(numeros):
    print(i, numeros[i])
    i += 1

0 3
1 5
2 11
3 6
4 7
5 8
6 34
7 -12
8 0
9 14
10 25

Após a lista numeros ser declarada, atribui-se inicialmente i=0, e em seguida, usando o comando 'while' e a função len que retorna o tamanho da lista numeros, printa-se o i (que no caso representa o indice dos valores da lista) e o valor contido no indice i da lista numeros, incrementando +1 ao i no fim do while para que toda a lista seja percorrida.

In [39]:
numeros = [3, 5, 11, 6, 7, 8, 34, -12, 0, 14, 25]
i = 0
while i < len(numeros):
    if numeros[i] <= 0: break
    print(i, numeros[i])
    i += 1

0 3
1 5
2 11
3 6
4 7
5 8
6 34

Após a lista numeros ser declarada, atribui-se inicialmente i=0, e em seguida, usando o comando 'while' e a função len que retorna o tamanho da lista numeros e com o comando 'if' checando se o valor no indice i da lista numeros é maior que zero, e sendo assim, ele printa o indice e os valores de cada indice da lista até que chegue em um numero negativo. Caso o valor seja negativo, utiliza-se o comando 'break' para sair do loop.

**A repetição também é interrompida se o valor for zero.** -- *Gonzalo*

In [40]:
numeros = [3, 5, 11, 6, 7, 8, 34, -12, 0, 14, 25]
i = 0
while i < len(numeros):
    if numeros[i] <= 0:
        i += 1
        continue
    print(i, numeros[i])
    i += 1

0 3
1 5
2 11
3 6
4 7
5 8
6 34
9 14
10 25

Exatamente como no programa anterior, utiliza-se do while para percorrer do indice i=0 até i= ao tamanho retornado por len, e dentro do while, temos um  'if' que checa se o numero é menor igual a zero. Diferentemente do programa anterior em que caso o numero fosse negativo o comando 'break' era ativado, esse programa possui o comando 'continue', que serve para continuar no loop mas nao prosseguir com o proximo passo, que seria printar o valor encontrado no indice, printando apenas os valores positivos encontrados e seus indices, como vemos na saída.