# Using String Patterns, Ranges

Banco de dados nao são feitos apenas para armazenar dados de forma estruturada mas tambeḿ para tornar mais facil a consulta dos mesmo, nesse sentido é possível fazer buscar nos dados através de padrões estabelicidos nas querys.<br><br>
__Exemplos:__

select firstname from AUTHOR <br>
    where firstname like 'R%'
<br><br>
___Aqui buscamos por todos os primeiros nomes na tabela AUTHOR que começam com a letra R___

select title, pages from BOOK <br>
where pages >= 290 and pages <=300 <br><br>
_Em bando de dados relacionais é possível escrever essa query de outra maneira_ <br><br>
select title, pages from BOOK <br>
where pages between 290 and 300 <br>
<br>
___Em ambos os casos, selecionamos os titulos que possuam a quantidade de paginas entre 290 e 300___

__Para buscar varios resultados apartir de uma comparação, ou seja, percorrer todas as linhas e retirar as que retornam TRUE para a comparação, usa-se o operador "IN"__<br><br>

select firstname, lastname, country from AUTHOR <br>
where country IN('AU', 'BR') <br>
<br>
___Neste caso é retornado todas as linhas contendo o nome e sobrenome dos autores com nacionalidade em AU e BR.___

# Sorting and Grouping

## Sorting the Result Set

Muitas vezes é interesente visualizar o resultadod e uma query em alguma ordem especifica, para isso utilizamos uma _cláusula_ "Order" que indica a ordem

select title from book <br>
order by title <br>
<br>
Neste caso o resultado da query é apresentado em ordem alfabética, por default de modo crescente

select title from book <br>
order by title desc<br>
<br>
Aqui o _desc_ especifica que a ordem de apresentação será descendente

select title, pages from BOOK <br>
order 2 <br>
<br>
Esta outra maneira de ordenação siginifica que ordenaremos o resultado através da segunda coluna especificada, neste caso pages, logo o "2" substitui "by pages"

## Grouping Result Set

Frequentemente ao fazer uma query estamos interessados em saber apenas os valores unicos presentes, ou seja, não nos interessa duplicatas, neste caso podemos utilizar a clausula _Distinc_

select distinct(country) from AUTHOR <br>
<br>
__Neste caso é retornado apenas os valores unicos da coluna country da tabela author__

Uma maneira de exibir os valores unicos e conta-los afim de organizar o resultado de ma maneira especifica, podemos fazer:<br>
<br>
select country, count(country) <br>
    as count from author group by country<br>
<br>
__Neste caso teremos como resultado os paises organizados em ordem alfabética e a contagem de quantas vezes cada um esta presente na tabela__

# Functions, Sub-Queries, Multiples Tables

## Construindo funções no Banco de Dados

Bult-in Functions são comuns em bancos de dados, frequentemente os bancos ja veem com algumas delas. Tais funções podem ser incluidas como parte das declarações SQL e reduzem significativamente a quantidade de dados que serão recuperados, ou seja, essas funções reduzem o trafego na rede e o uso da banda larga, além de acelerar o processamento dos dados principalmente em bancos de dados muito grandes.

__Aggregate or Column Functions:__

* INPUT: Coleção de valores (uma coluna inteira)
* OUTPUT: Um único valor ou NULL
* Ex: SUM(), MIN(), MAX(), AVG(), etc...

__Scaler Function:__

* ROUND(), LENGH(), UCASE(), LCASE()

Scaler function opera de forma individual sobre o input, por exemplo: <br>
<br>
_select ROUND(Saleprice) from Petsale_
<br><br>
Irá fazer com que cada valor da coluna Saleprice - da tabela Petsale - seja arredondado para o vizinho mais proximo, e neste caso pode ser para mais ou menos, afim de ter valores inteiros.

__Data, Time Functions:__

Muitos banco de dados possuem tipos especiais para dados de datas e tempos, como:
* DATE: YYYMMDD
* TIME: HHMMSS
* TIMESTAMP: YYYYXXDDHHMMSSZZZZZZ
    * XX: Mês
    * ZZZ...: Microssegundos <br><br>

Tais funções existem para extrair informações como:
* YEAR(), MONTH(), DAY(), DAYOFMONTH(), DAYOFWEEK(), DAYOFYEAR(), WEEK(), HOUR(), MINUTE(), SECOND()

__Exemplos:__<br>
* Extrair parte do dia apartir de uma data:
    * _select DAY(Saledate) from Petsale where Animal = 'cat'_
* Extrair o numero de vendas durante o mês de Maio:
    * _select Count(*) from Petsale where MONTH(Saledate) = '05'_

# Sub-Queries and Nested Selects

Uma sub-query nada mais é do que uma query dentro de outra query, este simples metodo agiliza muito as consultas em banco de dados. Um outro bom motivo para se usar sub-querys é por que as built-in functions não são aceitas como parametros para a clausula _WHERE_ , isto gera um erro. Neste caso, após o WHERE, usa-se uma nova query, entre ().<br><br>

__Errado:__<br>
_select * from Petsale_ <br>
_where salary < AVG(salary);_
<br><br>
__Correto:__<br>
_select EMP_ID, F_name, L_name, Salary from Employees_ <br>
_where Salary < (select AVG(salary) from Employees);_

# Working with Multiple Tables

Há muitas maneiras para acessar varias tabelas  em uma mesma query, por exemplo:
* Sub-querys
* Implicit JOIN
* JOIN Operators (INNER JOIN, OUTER JOIN, ETC..)

__Exemplos:__
* Para consultar os registros de funcionarios da tabela de funcionarios para os quais existe um ID de departamento na tabela Departamentos:

_select * from Employees <br>
where Dep_ID IN<br>
(select Dept_ID_Dep from Departments)_

<br>
* Para extrair uma lista com apenas os funcionarios de um determinada locação:

_select * from Employees <br>
where Dep_ID IN <br>
(select Dept_ID_Dep from departments <br>
where Loc_ID= 'L0002')_

__É possível acessar varias tabelas apartir da clausula FROM__<br>
<br>
_select * from Employees, Departments_<br>
<br>
Esta query esta realizando um JOIN implicito pois retornará a união dessas duas tabelas

__Também é possível usar limitadores na query para retornar apenas informações de interesse para consulta, utilizando prefixos nas clausulas para esficar qual a informação desejada e também para fazer comparações__<br>
<br>
_select * from Employees, Departments <br>
where Employees.Dep_ID = Departments.Dep_ID_Dep_
<br><br>
__Uma outra maneira, mais abreviada de fazer esta mesma query é com:__ <br><br>
_select * from Employees E, Departments D <br>
where E.Dep_ID = D.Dep_ID_Dep_

# Restrições do Modelo Relacional

## Terminologias Importantes

* __Referencing (Referenciamento):__ Ocorre quando duas entidades (duas tabelas) possuem relações entre si
* __Primary Key:__ Identificador unico para cada linha da tabela
* __Foreign Key:__ Um conjunto de colunas referente a Primary Key de outra tabela
* __Parent Table:__ Uma tabela que possui uma Primary Key que estabelece relação com ao menos uma Foreign Key
* __Dependant Table or Child Table:__ Uma tabela que contem uma ou mais Foreign Keys

## Restrições

Restrições (Constraints) ajudam a aplicar as regras de negócios, em um modelo relacional a integridade dos dados pode ser alcançada através de regras de integridade ou Restrições. Algumas restrições definidas em um modelo relacional:
* __Entity Integrity Constraint:__ Uma Primary Key é uma EIC que previne elementos duplicados numa tabela. Uma EIC garante que para nenhum atributo que pertence a Primary Key de uma relação é permitido valores nulos. <br><br>

* __Referencial Integrity Constraint:__ Estabelece relações entre as tabelas e garante que elas permaneçam validas. A validade dos dados é imposta usando uma combinação das Primary keys e Foreign keys. <br><br>

* __Semantic Integrity Constraint:__ Garante o significado correto dos dados, ou seja, se cada coluna de uma tabela possui o tipo de dado que foi especificado. <br><br>

* __Domain Constraint:__ Especifica os valores validos de um atributo, ou seja, se faz sentido um valor para um dado atributo. <br><br>

* __NULL Constraint:__ Especifica os atributos que não podem ser Nulos. <br><br>

* __Check Constraint:__ Impõe um dominio de integridade limitando os valores que são aceitos por um atributo