In [147]:
import os
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [123]:
#Endereços da base .csv
%pwd
BASE_DIR = '/home/leandro/Documents/Data Science/Projetos de Estudos/SuperMercado'
DATA_DIR = BASE_DIR + '/data/Compras_Mercado.csv'

In [135]:
df = pd.read_csv(DATA_DIR)
df.head(10)

         Data            Item Qtd_item Valor_item
0  20/05/2020   Queijo coalho        1      17,90
1  20/05/2020    Pao integral        1      10,59
2  20/05/2020  Filtro de café        1       3,29
3  20/05/2020            café        2       8,49
4  20/05/2020        Pringles        1       9,99
5  20/05/2020     batata (kg)        1       6,99
6  20/05/2020     Banana (kg)      2,3       6,39
7  15/05/2020          frango        2      11,69
8  15/05/2020    Pao integral        1      11,69
9  15/05/2020      detergente        3       1,45

In [136]:
df.describe()

              Data         Item Qtd_item Valor_item
count          156          156      156        156
unique          12           81       23        113
top     01/05/2020  Banana (kg)        1       5,99
freq            46            8       94          9

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 4 columns):
Data          156 non-null object
Item          156 non-null object
Qtd_item      156 non-null object
Valor_item    156 non-null object
dtypes: object(4)
memory usage: 5.0+ KB

In [151]:
df.plot.bar(x='Valor_item', y='Item')

TypeError: no numeric data to plot