# Como acessar banco de dados com Python

__Python Programs <---------------> API Calls <---------------> Data Base__

* __SQL API:__ É uma biblioteca de funções em forma de API, para acessar um Sistema de Gerenciamento de Banco de Dados (DBMS). Logo para fazer as chamadas ao DBMS, é feita a chamada das funções da API que chamam outras funções para recuperar os resultados das querys e informações de status do DBMS.

<img src="SQL_API.png">

__Alguns exemplos de Aplicações e suas SQL API__<br>
* __MySQL:__ MySQL C API
* __PostgreSQL:__ psycopg2
* __IBM DB2:__ ibm_db
* __SQL Server:__ dblib API
* __Database access for Micro.Windows OS:__ ODBC
* __Oracle:__ OCI
* __Java:__ JDBC

# Programando com DB-API

__Conceitos básicos do Python DB API:__
* __Objetos de Conexão:__
    * Conecta ao Banco de Dados
    * Gerencia as transações
* __Objeto Cursor:__
    * Querys

## Exemplos de chamadas a uma DB API

from dbmodule import connect <br>
<br>
__Cria um objeto de conexão:__<br>
Connection = connect('databasename', 'username', 'pswd') <br>
<br>
__Cria um objeto cursor:__ <br>
Cursor = connection.cursor() <br>
<br>
__Run Queries:__ <br>
Cursor.execute('select * from mytable') <br>
Results = cursor.fetchall() <br>
<br>
__Free resources:__ <br>
Cursor.close() <br>
Connection.close()

# Credenciais IBM db2

__Credenciais criadas no IBM Database Cloud - db2-1e:__ <br><br>
* "port": "50000" <br>
* "db": "BLUDB" <br>
* "host": "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net" <br>
* "username": "nsc88323"  <br>
* "password": "xpwz4vq2t4js1p^4" <br>
* "uri": "db2://nsc88323:xpwz4vq2t4js1p%5E4@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB"

# Conectando com uma instancia do Banco de Dados

In [2]:
import ibm_db

In [5]:
#Criando as variaveis das credenciais
dsn_hostname = "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_uid = "nsc88323"
dsn_pwd = "xpwz4vq2t4js1p^4"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"
dsn_port = "50000"
dsn_protocol = "TCPIP"

In [9]:
#Criando uma dsn string de conexão
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=nsc88323;PWD=xpwz4vq2t4js1p^4;

In [12]:
#Estabelecendo uma conexão com o banco de dados
try:
    conn = ibm_db.connect(dsn, "", "")
    print("Connect to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print("Unable to connect: ", ibm_db.conn_errormsg())

Connect to database:  BLUDB as user:  nsc88323 on host:  dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net

In [13]:
#Recuperar os Metadados do Servidor do Banco de Dados
server = ibm_db.server_info(conn)

print("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.01.0404
DB_NAME:    BLUDB

In [14]:
#Reccuperar os metadados do cliente/driver do banco de dados
client = ibm_db.client_info(conn)

print ("DRIVER_NAME:          ", client.DRIVER_NAME) 
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

DRIVER_NAME:           libdb2.a
DRIVER_VER:            11.01.0404
DATA_SOURCE_NAME:      BLUDB
DRIVER_ODBC_VER:       03.51
ODBC_VER:              03.01.0000
ODBC_SQL_CONFORMANCE:  EXTENDED
APPL_CODEPAGE:         1208
CONN_CODEPAGE:         1208

In [15]:
#Fechando a conexão
ibm_db.close(conn)

True

# Creating tables, loading data and querying data

Para criar uma tabela através da API, é necessario chamar a seguinte função:<br>
___ibm.db.exec_immediate()___ <br>
<br> 
Que recebe como parametros: 
* Connection: uma conexão valida com o banco
* Statement: uma string que contém as declarações SQL
* Options: parametros adicionais que podem especificar o tipo de cursor para retornar o conjunto de resultados

## Hands-on: Access DB2 on Cloud using Python

In [16]:
import ibm_db

In [49]:
#Criando uma conexão com o banco de dados
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  nsc88323 on host:  dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net

In [19]:
#Incinialmente dropando a tabela Instructor caso ela ja exista
dropQuery = "drop table Instructor"

#Criando uma tabela
dropStmt = ibm_db.exec_immediate(conn, dropQuery)

In [21]:
#Construindo a tabela com declarações DDL
createQuery = "create table Instructor(id Int Primary Key Not NULL, Fname varchar(20), \
                Lname varchar(20), City varchar(20), CCode char(2))"

createStmt = ibm_db.exec_immediate(conn, createQuery)

In [22]:
#Inserindo dados na tabela
insertQuery = "insert into Instructor \
                values (1, 'Rav', 'Ahuja', 'Toronto', 'CA')"

insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [23]:
#Inserindo o restante dos dados
insertQuery2 = "insert into Instructor \
                values (2, 'Raul', 'Chong', 'Markham', 'CA'), \
                (3, 'Hima', 'Vasudevan', 'Chicago', 'US')"

insertStmt2 = ibm_db.exec_immediate(conn, insertQuery2)

In [24]:
#Recuperando os dados da tabela criada
selectQuery = "select * from Instructor"

selectStmt = ibm_db.exec_immediate(conn, selectQuery)
ibm_db.fetch_both(selectStmt)

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'Toronto',
 3: 'Toronto',
 'CCODE': 'CA',
 4: 'CA'}

In [27]:
#Update em uma linha da tabela
updateQuery = "update Instructor \
                set City='Moosetown' where Fname='Rav'"
updateStme = ibm_db.exec_immediate(conn, updateQuery)
selectStmt2 = ibm_db.exec_immediate(conn, selectQuery)
ibm_db.fetch_both(selectStmt2)

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'Moosetown',
 3: 'Moosetown',
 'CCODE': 'CA',
 4: 'CA'}

## Recuperando os dados com pandas

In [32]:
import pandas as pd
import ibm_db_dbi

In [34]:
pconn = ibm_db_dbi.Connection(conn)

In [37]:
selectQuery = "select * from Instructor"

#Atribuindo o resultado da query em um Dataframe do pandas
pdf = pd.read_sql(selectQuery, pconn)
pdf.LNAME[0]

'Ahuja'

In [38]:
pdf

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  Moosetown    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [39]:
pdf.shape

(3, 5)

In [40]:
#Close
ibm_db.close(conn)

True

## SQL Magic

Podemos utilizar alguns comandos "magicos" em SQL no jupyter notebook fornecidos pela extensão do ipython-sql, com esses comandos é possível realizar as mesmas consultas feitas anteriormente

In [1]:
%load_ext sql

In [6]:
%sql ibm_db_sa://nsc88323:xpwz4vq2t4js1p%5E4@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Can't load plugin: sqlalchemy.dialects:ibm_db_sa
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

___Esta versão do ibm_db_sa não tem suporte para o Python 3 apenas Python 2.7. Até o momento não encontrei nenhuma versão atualizada da lib___

# Analise de Dados

__Ánalise feita no Lab Studio do curso pois o envio das querys ao servidor em que esta o banco de dados é feito através dos "magics commands" da API, o que facilita muito a comunicação com o banco, poŕem a lib que faz a comunição do script em python para a API oferece suporte apenas para a versão 2.5.x do Python, sendo assim nao é possivel fazer neste notebook. Entretanto segue o link para o notebook feito no Lab Studio da IBM.__
<br><br>
[Lab_Week3_SQLAnalysis](http://localhost:8888/notebooks/Documents/Data%20Science/6%20-%20SQL/Week%203/Lab_wee3_%20SQL%20Analysis.ipynb)

# JOIN para multiplas tabelas

## JOIN Overview

O operador __JOIN__ combina as linhas de duas ou mais tabelas baseado na relação de certas colunas dessas tabelas, ou seja, beseando-se nas Primary Keys e Foreign Keys. <br>
<br>
Tipo de JOIN:
* Inner JOIN
* Left Outer JOIN
* Right Outer JOIN
* Full Outer JOIN

## INNER JOIN

Inner Join é uma junção por intersecção, ele retorna apenas as linhas das duas (ou mais) tabelas que correspondam ao criterio determinado.
<br><br>
___Exemplos:___ <br>
* Combinando duas tabelas: <br>
_Sejam Borrower e Loan duas tabelas diferentes com relações entre si_ <br><br>
SELECT B.Borrower_ID, B.Lastname, B.Country, L.Borrower_ID, L.Loan_Date  <br>
FROM Borrower B INNER JOIN Loan L <br>
ON B.Borrower_ID = L.Borrower_ID

<br><br>
* Combinando 3 ou mais tabelas diferentes: <br>
_Neste caso fazemos o INNER JOIN 2 a 2 <br>
Sejam Borrower, Loan e Copy tabelas diferentes com relações entre si_ <br><br>
SELECT B.Lastname, L.Copy_ID, C.Status FROM Borrower B <br>
INNER JOIN Loan L ON B.Borrower_ID = L.Borrower_ID <br>
INNER JOIN Copy C ON L.Copy_ID = C.Copy_ID

## Left  JOIN

No Left JOIN juntamos a primeira tabela com a intersecção dela com uma outra tabela, se o criterio estabelicido for respeitado, caso contrario é retornado NULL para as linhas em que não há correspondencia. <br><br>
___Exemplos:___ <br>
* Combinando duas tabelas: <br>
_Sejam Borrower e Loan duas tabelas diferentes com relações entre si_ <br><br>
SELECT B.Borrower_ID, B.Lastname, B.Country, L.Borrower_ID, L.Loan_Date  <br>
FROM Borrower B LEFT JOIN Loan L <br>
ON B.Borrower_ID = L.Borrower_ID

## Right JOIN

Funciona da mesma maneira que o Left JOIN, porem agora, a todas as linhas da Tabela 2 são agrupadas com as linhas da tabela 1 que correspondem ao criterio estabelecido.

## Full JOIN

Full Join junta todas as linhas das tabelas envolvidas baseando-se em um criterio estabelicido. <br><br>

___Exemplo:___ <br>
* Combinando duas tabelas: <br>
_Sejam Borrower e Loan duas tabelas diferentes com relações entre si_ <br><br>
SELECT B.Borrower_ID, B.Lastname, B.Country, L.Borrower_ID, L.Loan_Date  <br>
FROM Borrower B FULL JOIN Loan L <br>
ON B.Borrower_ID = L.Borrower_ID