In [1]:
import os
import pandas as pd

In [25]:
#Endereços da base .csv
%pwd
BASE_DIR = '/home/leandro/Documents/Data Science/Projetos de Estudos/SuperMercado'
DATA_DIR = BASE_DIR + '/data/Compras_Mercado.csv'

In [26]:
df = pd.read_csv(DATA_DIR)
df.head()

         Data            Item Qtd_item Valor_item
0  20/05/2020   Queijo coalho        1      17,90
1  20/05/2020    Pao integral        1      10,59
2  20/05/2020  Filtro de café        1       3,29
3  20/05/2020            café        2       8,49
4  20/05/2020        Pringles        1       9,99

In [28]:
df.describe()

              Data         Item Qtd_item Valor_item
count          156          156      156        156
unique          12           81       23        113
top     01/05/2020  Banana (kg)        1       5,99
freq            46            8       94          9

In [33]:
df['Data'].unique()

array(['20/05/2020', '15/05/2020', '11/05/2020', '05/05/2020',
       '30/04/2020', '18/04/2020', '27/04/2020', '20/04/2020',
       '01/05/2020', '23/05/2020', '19/04/2020', '25/04/2020'],
      dtype=object)